/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

.app-bg {
  min-height: 100vh;
  background-image: url("/hero-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .app-bg {
    background-position: top;
  }
}

.style_D {
  background-color: rgb(50, 49, 49);
}

.style_D,
.style_D th,
.style_D h1,
.style_D h2,
.style_D h3,
.style_D p {
  color: rgb(49, 164, 135);
}

.style_W {
  background-color: white;
}

.style_W,
.style_W th,
.style_W td,
.style_W h1,
.style_W h2,
.style_W h3,
.style_W p {
  color: black;
}

.style_TW>thead td {
  color: rgb(20, 181, 20);
  font-weight: 700;
}

.style_TW>tbody td {
  color: rgb(2, 1, 19);
  font-weight: 600;
}

.style_TR>thead td {
  color: rgb(233, 27, 27);
  font-weight: 700;
}

.style_TR>tbody td {
  color: rgb(2, 1, 19);
  font-weight: 600;
}

#BG {
  background-color: rgba(220, 178, 42, 0.4)
}